@import url('https://fonts.googleapis.com/css?family=Lato');
@import './mixins';



$background-menu-color :#171717;
$max-menu-width : 231px;

@mixin menu_content {
    background-color: $background-menu-color;
    border: none;
}
    


.imdMenu_button{
    @include menu_content;
    color: #969696;
    margin: 15px 26px;
}


.IMD-main-button {
    background-color: #0b0b0b;
    width: 100%;
    height: 49px;
    color: #ffff;
    border: none;
    text-align: left;
    padding-left: 32px;
}

.imd {
    color: #27c6e7;
}

.img__center {
    width: 670px;
    background-image: url(../../assets/images/main_merry1.png);
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-position:-110px -9px;
    background-size:cover;
    margin-left: 126px;
    margin-top: -30px;
    box-shadow: -181px 214px 89px 0 rgba(0, 0, 0, 0.5);
}


body {
    background:linear-gradient(51deg, #6f44a4, #475aa7)
  }

.main__block {
    position: relative;
    height: 100%;
}
.main__content {
    max-width:1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.header {
    width: 100%;
    height: 92px;
    background-color: rgba(255, 255, 255, 0.1);
    &__content {
        max-width: 1440px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__nav_line {
        background-color: #ffffff;
        height: 1px;
        display: none;
    }
}



.logo {
background-image: url(../../assets/images/logo.jpg);
width: 230px;
height: 100%;
background-repeat: no-repeat;
background-size: cover;
background-size:103%;
font-size: 56px;
color: red;
flex-shrink: 0;
}

.navbar {
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 580px;
    margin-right: 55px;
}

.navbar__items {
    display: flex;
    flex-direction: column;
    &:hover {
        .header__nav_line {
            display: block;
        }
    }
    
}
.navbar__item {
    padding: 14px 7px;
    font-size: 13px;
    color: #ffffff;
    letter-spacing: 0.9px;
    text-align: center;
}

//////////menu///////////////////////
    
.menu {
background-color: #171717;
max-width: 231px;
height: 100%;
position: absolute;
}

.search {
    height: 91px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    &__imput {
        color: #bbbbbb;
        background-color: #313131;
        width: 183px;
        border-radius: 100px;
        outline: none;
        font-size: 12px;
        letter-spacing:1px;
        border: none;
        padding:5px;
        height: 33px;
        background-image: url(../../assets/images/search.png);
        background-repeat: no-repeat;
        background-size:22px 22px;
        background-position:90% 50%;
        align-items: center;
    }
}

.divider {
    max-width: 231px;
    height: 1px;
    opacity: 0.11;
    background-color: #d8d8d8;
  }

  .menu__media_items {
      height: 219px;
      padding: 24px 0 34px 0;
  }

.menu__media_button {
    @include menu_content;
    color: #ffffff;
    letter-spacing: 1px;
    width: 100%;
    height: 38px;
    padding: 13px 20px;
    display: flex;
    justify-content: right;
    height: 41px;
    font-size: 12px;
    &:hover {
     color:#f2d224;
     .sidebar-icons {
         color: #f2d224;
     }
    }
}
.sidebar-icons {
    color: #6b6b6b;
    font-size: 19px;
    padding-right: 10px;
}
.menu__media_button-text {
    font-size: 12px;
    text-align: left;
}


///////
.menu__acount_items{
    width: 100%;
    padding : 31px 0 22px 0;
    height: 190px;
}

.myAccount {
    padding: 0 0 20px 25px;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 1.2px;
}

.menu__acount_item {
    @include menu_content;
    width: 100%;
    text-align: left;
    padding: 0;
    padding-left: 25px;
    font-size: 10px;
    letter-spacing: 0.8px;
    color: #969696;
    height: 33px;
    &-facebook {
        color: #5083f2;
    }
}
///////////////////////////////


.page__content {
    // background-color: red;
    width: 580px;
    height: 100%;
    margin-right: 55px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.page__label {
    display: flex;
    width: 100%;
    height: 67px;
    align-items: flex-end;
    justify-content: flex-end;
}

.label__items {
    height: 33px;
    border-radius: 100px;
    box-shadow: 3px 3px 13px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.18);
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-child {
        width: 120px;
        margin-left: 17px;
    }
}

.label__item {
    opacity: 1;
    &_text {
        margin-left: 12px;
    }
}

.ball {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    font-size: 14px;
    width: 22px;
    height: 22px;
    color: #e4d357;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flash {
    width: 19px;
    height: 12px;
}

.page__content_banner {
    font-size: 90px;
    color: #ffffff;
    padding-top: 8px;
  }

  .small-menu {
    font-size: 10px;
    letter-spacing: 2px;
    color: #b6b2d2;
    margin: 13px 0 30px 0;
  }

  .page__content_text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 1.2px;
  }

  .page__content_date {
    margin:34px 0 38px 0;
    font-size: 12px;
    letter-spacing: 1px;
    color:  #a693e4
  }

  .page__content_line {
    width: 100%;
    height: 1px;
    opacity: 0.2;
    background-color: #ffffff;
    margin: 38px 0 34px 0;
  }

.known-for {
    display: flex;
    flex-direction: column;
    &__header {
        display: flex;
        justify-content: space-between;
        &_name {
            font-size: 24px; 
        }
        &_button {
            height: 9px;
            width: 9px;
            border-radius: 100%;
            background-color: white;
            border: none;
            padding: 0;
        }
    }
    &__films {
        display: flex;
    }
    &__film {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.film {
    width: 126px;
    height: 40px;
    &_1{
    background-image: url(../../assets/images/Kramer.jpg);
    }
    &_2 {
    background-image: url(../../assets/images/Kramer.jpg);
    }
    &_3 {
    background-image: url(../../assets/images/Kramer.jpg);
    }
}



