@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import './mixins';
   

$background-menu-color :#171717;
$max-menu-width : 231px;

@mixin menu_content {
    background-color: $background-menu-color;
    border: none;
}

body {
    background:linear-gradient(51deg, #6f44a4, #475aa7)
  }

.main-block {
    position: relative;
}

.header {
    width: 100%;
    height: 92px;
    background-color: rgba(255, 255, 255, 0.1);
    &__content {
        max-width: 1440px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        background-image: url(../../assets/images/logo.jpg);
        width: 230px;
        min-height: 92px;
        background-repeat: no-repeat;
        background-size: cover;
        background-size:103%;
        font-size: 56px;
        color: red;
        flex-shrink: 0;
        }
}

.navbar {
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 580px;
    margin-right: 55px;
    &__items {
        display: flex;
        flex-direction: column;
        &:hover {
            .navbar__item_line {
                display: block;
            }
        }
    }
    &__item {
        padding: 14px 7px;
        font-size: 13px;
        color: #ffffff;
        letter-spacing: 0.9px;
        text-align: center;
        &_line {
        background-color: #ffffff;
        height: 1px;
        display: none;   
        }
    }
}

.main-content {
    max-width:1440px;
    margin: 0 auto;
    display: flex;
}



.sidebar-menu {
    background-color: #171717;
    max-width: 231px;
    height: 932px;
    position: absolute;
    &__search {
        height: 91px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 24px;
        &_imput {
            color: #bbbbbb;
            background-color: #313131;
            width: 153px;
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            outline: none;
            font-size: 12px;
            letter-spacing:1px;
            border: none;
            padding:5px;
            height: 33px;
            cursor: text;
        }
        &_button {
            background-color: #313131;
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
            padding: 0;
            height: 33px;
            border: none;
            width: 30px;
            background-image: url(../../assets/images/search.png);
            background-repeat: no-repeat;
            background-size:22px 22px;
            background-color: #313131;
            background-position:0% 50%;
        }
    }
    &__divider {
        max-width: 231px;
        height: 1px;
        opacity: 0.11;
        background-color: #d8d8d8;
    }
    &__media-items {
        height: 219px;
        padding: 24px 0 34px 0;  
    }
    &__media_button {
        @include menu_content;
        color: #ffffff;
        letter-spacing: 1px;
        width: 100%;
        height: 38px;
        padding: 13px 20px;
        display: flex;
        justify-content: right;
        height: 41px;
        font-size: 12px;
        cursor: pointer;
        &:hover {
         color:#f2d224;
         .sidebar-icons {
             color: #f2d224;
            }
        }
        &_text {
            font-size: 12px;
            text-align: left;
        }
    }
    &_icons {
        color: #6b6b6b;
        font-size: 19px;
        padding-right: 10px; 
    }
    &__media_icons {
        color: #6b6b6b;
        font-size: 19px;
        padding-right: 10px;
    }
    &__acount  {
        width: 100%;
        padding : 31px 0 22px 0;
        height: 190px;
        &_myAccount {
            padding: 0 0 20px 25px;
            color: #ffffff;
            font-size: 14px;
            letter-spacing: 1.2px; 
        }
        &_item {
            @include menu_content;
            width: 100%;
            text-align: left;
            padding: 0;
            padding-left: 25px;
            font-size: 10px;
            letter-spacing: 0.8px;
            color: #969696;
            height: 33px;
            cursor: pointer;
            &-facebook {
                color: #5083f2;
            }
        }
    }
        &__button {
        @include menu_content;
        color: #969696;
        margin: 15px 26px;
        cursor: pointer;

        &_imd-main {
        background-color: #0b0b0b;
        width: 100%;
        height: 49px;
        color: #ffff;
        border: none;
        text-align: left;
        padding-left: 32px;
        cursor: pointer;
            &_imd{
                color: #27c6e7;
            }
        }
        &_chevron {
            color: #6b6b6b;
            width: 7px;
            height: 11.6px;
            padding-left: 112px;
        }
    }
}

.fa-chevron-right {
    color: #6b6b6b;
    width: 7px;
    height: 11.6px;
    padding-left: 112px;
}

.img__center {
    flex-grow: 1;
    max-width: 669px;
    max-height: 962px;
    background-image: url(../../assets/images/main_merry1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position:-155px -9px;
    background-size:cover;
    margin-left: 126px;
    margin-top: -30px;
    box-shadow: -181px 214px 89px 0 rgba(0, 0, 0, 0.5);
}

.page__content {
    width: 580px;
    height: 100%;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.page__label {
    display: flex;
    width: 100%;
    height: 59px;
    align-items: flex-end;
    justify-content: flex-end;
}

.label__items {
    height: 33px;
    border-radius: 100px;
    box-shadow: 3px 3px 13px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.18);
    color: #ffff;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    cursor: pointer;
    &:last-child {
        width: 120px;
        margin-left: 17px;
    }
}

.label__item {
    opacity: 1;
    &_text {
        margin-left: 6px;
    }
}

.ball {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    font-size: 14px;
    width: 22px;
    height: 22px;
    color: #e4d357;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flash {
    width: 19px;
    height: 12px;
}

.page__content_banner {
    font-size: 90px;
    color: #ffffff;
    padding-top: 8px;
    width: 580px;
    margin: 0 auto;
  }

  .small-menu {
    font-size: 10px;
    letter-spacing: 2px;
    color: #b6b2d2;
    width: 100%;
    margin: 13px 0 30px 0;
  }

  .page__content_text {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 1.2px;
  }

  .page__content_date {
    font-size: 12px;
    letter-spacing: 1px;
    color:  #a693e4;
    width: 100%;
    margin: 34px 0 0 0;
  }

  .page__content_line {
    width: 100%;
    margin: 34px 0 38px 0;
    height: 1px;
    opacity: 0.2;
    background-color: #ffffff;
  }

.known-for {
    display: flex;
    flex-direction: column;
    padding-left: -10px;
    &_header {
        display: flex;
        justify-content: space-between;
        &_name {
            font-size: 24px; 
        }
        &_buttons {
            display: flex;
            min-width: 45px;
            justify-content: space-between;
            align-items: center;
        }
        &_button {
            height: 9px;
            width: 9px;
            border-radius: 100%;
            background-color: rgba(250, 250, 250, 0.4);
            border: none;
            padding: 0;
            &:hover {
                background-color: rgba(250, 250, 250, 1.0);
            }
            cursor: pointer;
        }
    }
    &__films {
        display: flex;
        max-width: 610px;
        margin: 0 -15px 0 -15px;
    }
    &__film {
        display: flex;
        flex-direction: column;
        min-height: 213px;
        width: 33.333%;
        &:hover {
            background-color: rgba(255, 255, 255, 0.15);
            box-shadow: 0 62px 52px 0 rgba(0, 0, 0, 0.09), 0 16px 32px 0 rgba(0, 0, 0, 0.59);
        }
    }
    &__picture {
        min-height: 130px;
        margin: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;

    }
    &__description {
        margin: 0 15px 15px 15px;
        font-size: 12px;
        font-size: 12px;
        font-weight: 900;
        line-height: 1.67;
        letter-spacing: 1px;
        color: #ffffff;
    }
    &__description2 {
        color: #c7c4e2;
    }
}

.film {
    &_1{
    background-image: url(../../assets/images/film1.jpg);
    }
    &_2 {
    background-image: url(../../assets/images/film2.jpg);
    }
    &_3 {   
    background-image: url(../../assets/images/film3.jpg);
    }
}

.page__content_photos {
    margin-top: 33px;
    &_header {
        display: flex;
        justify-content: space-between;
        &_text {
            font-size: 24px;
        }
        &_button {
            background: none;
            border: none;
            color: #ffffff;
            font-size: 36px;
            cursor: pointer;
        }
    }
}

.number958 {
    font-size: 12px;
    opacity: 0.6; 
}

.photos {
    display: flex;
    width: 100%;
    min-width: 580px;
    &__item {
        width: 33.3333%;
        max-width: 193px;
        height: 130px;
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        &_1 {
            background-image: url(../../assets/images/foto1.jpg);
        }
        &_2 {
            background-image: url(../../assets/images/foto2.jpg);
        }
        &_3 {
            background-image: url(../../assets/images/foto3.jpg);
        }
    }
}
