@import './mixins';

$background-menu-color :#171717;

@mixin menu_content {
    background-color: $background-menu-color;
    border: none;
    font-size: 12px;
}

body {
  background-color:rebeccapurple;
}

.menu {
  display: inline-block;
  background-color: #d8d8d8;
}

.logo {
  background-image: url(../../assets/images/logo.jpg);
  height: 92px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size:103%;
}

.menu__items{
  width: 231px;
  
}

.search{
  text-align: center;
  padding: 30px 24px;
  color: #bbbbbb;
  background-color: $background-menu-color;
}

.search_place {
  background-color: #313131;
  border-radius: 100px;
  outline: none;
  font-size: 12px;
  letter-spacing:1px;
  border: none;
  padding:5px;
  height: 33px;
  margin-bottom: 1px;
}
.mediaMenu_items {
    background-color: $background-menu-color;
    
}

.acountMenu__items {
    background-color: $background-menu-color;
}

.imdMenu__items {
    background-color: $background-menu-color;
}

.mediaMenu_button{
    @include menu_content;
    color: #ffff;
    margin: 15px 26px;
}

.acountMenu_button {
    @include menu_content;
    color: #969696;
    margin: 15px 26px;
}

.imdMenu_button{
    @include menu_content;
    color: #969696;
    margin: 15px 26px;
}





.IMD-main-button {
    background-color: #0b0b0b;
    width: 100%;
    height: 49px;
    color: #ffff;
    border: none;
}

.myAcount {
    color: #ffff;
}