$background-color:linear-gradient(51deg, #6f44a4, #475aa7);
$header-background-color: rgba(255, 255, 255, 0.1);
$menu-background-color :#171717;
$navbar-item-color : #ffffff;
$navbar-item-line-color:#ffffff;
$sidebar-menu-color: #171717;
$sidebar-imput-color: #bbbbbb;
$sidebar-imput-background-color:#313131;
$sidebar-menu-button-color: #313131;
$sidebar-menu-button-background-color:#313131;
$divider-color:#d8d8d8;
$media-button-color:#ffffff;
$media-button-hover-color:#f2d224;
$media-button-icons-color:#6b6b6b;